/* úprava elementů */
body {
    background-color: whitesmoke;
}

h1 {
  text-shadow: none;
  color: #80003d;
  font-size: 2rem;
  text-decoration: none;
}

h3 {
  color: #800080;
}

th {
  color: #800080;
}

/* úprava tříd */

.bg-pink {
    background-color: #80003d;
}

.logo {
  width: 40%; 
}

.navbar-dark .navbar-brand {
    color: #95661f;
    font-weight: bold; 
}

.header {
  text-align: center;
  color: rebeccapurple;
}

.title-motto a {
  color: #800080;
}

.img-left {
  float: left;
  margin-right: 10px;
}

.buttons {
  width: 10%; 
  margin: auto;
  }

  
.btn {
  display: inline-block;
  width: 100px !important;
  height: 50px;
  text-align: center;
  padding: 5px;
  background-color: #80003d;
  color: whitesmoke;
}

/*

.btn-default{
  width: 10%; nefunguje*/


/*.btn-registrace {
  background-image: url('/static/imgs/insert.png');
  background-size: cover;
  background-position: center;
  width: 20%; /*negunguje, pokud v souhrnu nepresahne asi 80%
  padding-right: 15%;
}
*/

/*.btn-about {
  background-image: url('/static/imgs/about.png');
  background-size: cover;
  background-position: center;
  width: 20%;
  padding-right: 10%;
}*/

/*.btn-formular{
  background-image: url('/static/imgs/search.svg');
  background-size: cover;
  background-position: center;
  width: 20%;
  padding-left: 5%;
}*/

/* úprava id */

#age_group li {
  list-style: none;
}