{% extends "layout.html" %}
{% block title %}ABOUT{% endblock %}
{% block body %}
<div class="col-sm-8 offset-1" style="margin-top:30px;" ></div>

<div class="container">
	<div class="block">
		<div class="row">
			<div class="span4">
				<img class="img-left rounded" src="{{ url_for('static', filename='imgs/us.jpg') }}" width= 40%/>
				<div class="content-heading">
					<h3> Něco málo o nás </h3>
				</div>
				<p>	
					Adastra, firma, která spojila dvě bláznivé holčiny, zápal pro vyzkoušení si něčeho nového a nápad, který dal život těmto stránkám.
				</p>
				<p>
					Celé to vzniklo touhou po tom rozumět kolegům. Přeci jen, když denně slyšíte různé pojmy, chcete také nabýt dojmy, a tak jsme se vydaly na digitální akademii, která nám měla vše nejenom přiblížit,
					 ale taky naučit základy, o čem datová analytika vlastně je a my jsme tak mohly být součástí obědových konverzací na téma fungujících kódů a problémů s datovými sklady.
				</p>
				<div class="content-heading">
					<h3> O Páje </h3>
				</div>
				<p>  
						 
				</p>
				<div class="content-heading">
					<h3> O Báře </h3>
				</div>
				<p> Sem si o sobě něco napiš.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}