{% extends "layout.html" %}
{% block title %}ABOUT{% endblock %}
{% block body %}
<div class="col-sm-8 offset-1" style="margin-top:30px;" ></div>

<div class="container">
	<div class="block">
		<div class="row">
			<div class="span4">
				<img class="img-left rounded" src="{{ url_for('static', filename='imgs/us2.jpg') }}" width= 40%/>
				<div class="content-heading">
					<h3> Něco málo o nás </h3>
				</div>
				<p style="text-align: justify">	
					Adastra, firma, která spojila dvě bláznivé holčiny, zápal pro vyzkoušení si něčeho nového a nápad, který dal život těmto stránkám.
				</p>
				<p>
					Celé to vzniklo touhou po tom rozumět kolegům. Přeci jen, když denně slyšíte různé pojmy, chcete také nabýt dojmy, a tak jsme se vydaly na digitální akademii, která nám měla vše nejenom přiblížit,
					ale taky naučit základy, o čem datová analytika vlastně je a my jsme tak mohly být součástí obědových konverzací na téma fungujících kódů a problémů s datovými sklady.
				</p>
				<div class="content-heading">
					<h3> O Páje </h3>
				</div>
				<p style="text-align: justify">  
					Pracuji v konzultační společnosti, kde mám na starost především nábor nových kolegů a péči o stávající zaměstnance. 
					Zároveň s tím mě baví svět IT, kde se vždy ráda přiučím něčemu novému a diskuze nad projekty mě pokaždé obohatí. 
					Když se zrovna neučím, tak ráda sportuji a je celkem jedno, zda je to beach volejbal, stěna nebo prostě jen pobyt venku. Avšak není mi cizí ani postel s dobrým filmem nebo seriálem.		 
				</p>
				<div class="content-heading">
					<h3> O Báře </h3>
				</div>
				<p style="text-align: justify"> 
					Jsem aktivní člověk s neustálou potřebou věnovat se novým věcem. Před dvěma lety jsem se rozhodla opustit právo a vrhnout do světa IT, kde jsem po administrativních začátcích zatoužila lépe porozumět procesům okolo a ideálně být časem jejich právoplatnou součástí. 
					Ve svém volném čase se věnuji akro józe, chodím tancovat, do přírody, na pivo nebo zasednu ke klavíru.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}