{% extends "layout.html" %} {% block body %}
    <div class="container container_body rounded">
    
    <div class="header">
      <div class="title h1">
          <h1>LET'S DANCE</h1>
      </div>
      <img class="logo" src="{{ url_for('static', filename='imgs/logo.svg') }}" >
      <p> Najděte si lekci podle svého gusta. ;-)</p>
		</div>
  	<div class="buttons">
            <a href="{{ url_for('show_formular') }}" class="btn btn-default btn-formular">
				Vyhledání lekcí
		        </a>

            <a href="{{ url_for('add_course') }}" class="btn btn-default btn-registrace">
				Registruj své lekce
		        </a>
		
            <a href="{{ url_for('show_about') }}" class="btn btn-default btn-about">
				About
		        </a>
    </div>

    <!-- End of the page //-->
	</div>
{% endblock %}