{% extends "layout.html" %} {% block body %}

<div class="col-sm-8 offset-2" style="margin-top:20px;" ></div>
<div class="container container_body rounded">

<div class="container col-sm-4">
    <div class="title">
        <h1>LET'S DANCE</h1>
        <p class="title-motto"> 
          <a href="{{ url_for('show_formular') }}"> Najděte si lekci podle svého gusta. ;-) </a>
        </p>
    </div>
  </div>

    <div class="container">
      <div class="block">
        <div class="row">
          <div class="span4">
            <img class="img-left rounded" src="{{ url_for('static', filename='imgs/logo.svg') }}" width= 40%/>
              <div class="content-heading">
                <br />
                <br />
                <br />
                <h3> Vitejte na Let´s dance </h3>
              </div>
                <p style="text-align: justify"> LET´S DANCE webová stránka, která Vám poskytne přehled tanečních lekcí na území hlavního města Prahy. 
                Zdrojem údajů jsou data veřejně dostupná na stránkách tanečních studií a také data vkládaná vámi, uživateli.
                <br />  
                </p>
                <p>
                Naší snahou je vytvořit komplexní databázi, kam byste se vraceli kdykoliv, kdy byste měli chuť najít si tu pravou lekci pro vás.
                </p>
          </div>
        </div>
      </div>
    </div>          


<!--
  <div class="header">
    <div class="title">
        <h1>LET'S DANCE</h1>
        <p class="title-motto"> 
          <a href="{{ url_for('show_formular') }}"> Najděte si lekci podle svého gusta. ;-) </a>
        </p>
    </div>
    <img class="logo" src="{{ url_for('static', filename='imgs/logo.svg') }}" >
  </div>
  -->
<!--
  	<div class="buttons">
            <a href="{{ url_for('show_formular') }}" class="btn btn-default btn-formular">
				Vyhledání lekcí
		        </a>

            <a href="{{ url_for('add_course') }}" class="btn btn-default btn-registrace">
				Registruj své lekce
		        </a>
		
            <a href="{{ url_for('show_about') }}" class="btn btn-default btn-about">
				About
		        </a>
    </div>
-->
  <!-- End of the page //-->
</div>
{% endblock %}