<!--seznam škol-->

{% extends "layout.html" %} {% block body %}
<div class="col-sm-8 offset-2" style="margin-top:20px ;">
    <header>
      <h1> Seznam škol </h1>
        <br />
        
        <form method="GET">
            <table class="table table-hover", table style="width:100%">
              <thead>
                <tr alidin="center">
                  <th scope="col">Studio</th>
                  <th scope="col">Adresa</th>
                  <th scope="col">Část Prahy</th>
                </tr>
              </thead>
              <tbody>
                  {% for item in expectation_table %}
                <tr aligin="center">
                  <td><a href="{{item.web}}" target="_blank">{{item.name}}</a></td>
                  <td>{{item.address}}</td>
                  <td>{{item.city_part}}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
        </form>
      <br />
    </header>
</div>
{% endblock %}